*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    font-size: 25px;    
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: rgba(33, 229, 240, 0.408);
    color: blanchedalmond;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] :hover {
    background-color: rgba(0, 225, 255, 0.487);
}

.container {
    border-radius: 5px;
    background-color: rgba(206, 47, 241, 0.348);
    padding: 200px;
}

.profilePic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: solid;
    border-color: rgba(118, 2, 118, 0.785);
    box-shadow: 5px 5px 200px 30px purple;
    border-width: 3px;

}

 .selfie{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 175px;
}

h1 {

 text-align: center;
 border-style: outset;
 border-color: rgba(221, 11, 214, 0.641);
 border-width: 4px;
 margin-right: auto;
 margin-left: auto;
 background: linear-gradient(to right, rgb(128, 0, 128), rgba(0, 255, 255, 0.85), rgba(0, 0, 255, 0.858), rgba(156, 7, 156, 0.918) );
 color: rgb(227, 11, 29) ;
 box-shadow: 10px 10px 50px rgb(245, 10, 42);
}

h2 {
    text-align: center;
    border: solid;
    border-width: 1.0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(150, 30, 202, 0.629);
}
h3 {
    border: solid;
    border-width: 1.0;
    border-left: auto;
    border-right: auto;
    border-bottom: auto;
    background-color: rgba(52, 178, 236, 0.3);
}

p {
    border: solid;
    background-color: rgba(0, 255, 255, 0.535);
    text-indent: 50px;

}

body {
    background-image: url(https://www.tactics.com/a/dm23/1b/deathwish-arch-logo-t-shirt-black-front-detail.jpg);
    background-size: cover;
}

h4 {
    text-align: center;
    border: solid black;
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 100px;    
}

:active {
    background-color: rgba(8, 175, 226, 0.31);
}

a :hover {
    background-color: rgba(137, 43, 226, 0.548);
}

button {
    cursor: crosshair;
    background-color: rgb(232, 218, 233);
    color: rgb(255, 0, 25);
    border-radius:.9em;
    font-family: fantasy;
    height: 75px;
    padding: 10px
}

.portfolio {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.myPortfolio {
    font-size: larger;
    height: 100%;
    display: flex;
    
    
}
