.header {
    border: 0.25rem solid black;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: rgba(141, 35, 186, 0.386);
}

.button {
    cursor: pointer;
    color:rgb(85, 5, 107);
    background-color: bisque;
}

.div {
    display: grid;
    place-items: center;
    width:25vw;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: rgba(33, 229, 240, 0.408);
    color: blanchedalmond;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] :hover {
    background-color: rgba(0, 225, 255, 0.487);
}

.container {
    border-radius: 5px;
    background-color: rgba(206, 47, 241, 0.348);
    padding: 200px;
}

img {
    display: grid;
    width: 100px;
}



h1 {

 text-align: center;
 border: solid;
 border-width: 1.0;
 margin-right: auto;
 margin-left: auto;
 background-color: rgba(137, 43, 226, 0.566);
}
h2 {
    text-align: center;
    border: solid;
    border-width: 1.0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(150, 30, 202, 0.629);
}
h3 {
    border: solid;
    border-width: 1.0;
    border-left: auto;
    border-right: auto;
    border-bottom: auto;
    background-color: rgba(52, 178, 236, 0.3);
}

p {
    border: solid;
    background-color: rgba(0, 255, 255, 0.535);
    text-indent: 50px;

}

body {
    background-image: url(https://www.tactics.com/a/dm23/1b/deathwish-arch-logo-t-shirt-black-front-detail.jpg);
    background-size: cover;
    background-position: auto;
    width: 100vw;
}

h4 {
    text-align: center;
    border: solid black;
    background-color: blueviolet;
}

nav {
    display: flex;
    justify-content: center;
    border: black;
    
}
.a {
    display: flex;
    justify-content: center;

}
:active {
    background-color: rgba(8, 175, 226, 0.31);
}

a :hover {
    background-color: rgba(137, 43, 226, 0.548);
}




